.graph_control_button {
    background-color: #555555;
    float: left;
    border: 1px solid grey;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 8px;
}

.graph_control_button.active {
    background-color: darkgrey;
}

.table_control_button {
    background-color: #555555;
    float: left;
    border: 1px solid grey;
    outline: none;
    cursor: pointer;
    padding: 25px 25px;
    transition: 0.3s;
    font-size: 16px;
}
